@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes flip {
  0% {
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateY(180deg);
  }
  100% {
      transform: rotateY(360deg);
  }
}

.animate-flip {
  animation: flip 1s ease-out;
}
